body{
    background: linear-gradient(to right, #fe813f 0%,  #fa5276 100%, #fe813f 50%, #EFECF3 100%);

}
#container-grafico{
    background-color: #0A0A0B;
    border-radius: 15px;
}
#container-total{
    background-color: #1f1f1f;
    border-radius: 15px;
}
#container-sem-cadastro{
    background-color: #1f1f1f;
    height:210px
}
#container-despesas{
    background-color: #1f1f1f;
    flex-direction: column;
    border-radius: 15px;

}
#btn-rosa{
    background-color: #fa5276;
    border-color:#fa5276;
    
}
#btn-preto{
    background-color: #1f1f1f;
    border-color: #1f1f1f;
}
#btn-laranja{
    background-color: #fe813f;
    border-color: #fe813f;
}
#textos{
    color: white;
}
#texto-rosa{
    color:#fa5276;
}
#texto-preto{
    color:#000000;
    font-size: 15px;
    font-weight: bold
    
}
#texto-link{
    color:#000000;
    font-size: 15px;
}
#titulos{
    color: #4F4A4A;
}
.info{
    justify-content: space-around;
}
.description {
    max-height: 170px;
    overflow: hidden;
  
}
ion-icon {
    height: 20px;
    width: 20px;
    color:#fa5276
}
  
label {
    color: white;
}

.highcharts-figure, .highcharts-data-table table {
    width: 300px; 
    max-width: 300px;
    margin: 1em auto;
    height: 300px;
  
  }
  .highcharts-data-table table {
      font-family: Verdana, sans-serif;
      border-collapse: collapse;
      border: 1px solid #0A0A0B;
      margin: 10px auto;
      text-align: center;
      width: 100%;
      max-width: 300px;
  }
  .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }
  .highcharts-data-table th {
      font-weight: 600;
    padding: 0.5em;
  }
  .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
  }
  .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #0A0A0B;
  }
  .highcharts-data-table tr:hover {
    background: #0A0A0B;
  }
  .inputs-container {
    display: flex;
    flex-direction: column;
    margin: 25px 0px 25px 0px;
}
.inputs-container-column {
    display: flex;
    flex-direction: row;
}
.container-central-form-despesa{
width: 100vw;
height: 100vh;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background: linear-gradient(to right, #fe813f 0%,  #fa5276 100%, #fe813f 50%, #EFECF3 100%);
}
#container-form-despesa{       
border-radius: 15px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;
background-color: #1f1f1f;
height: 60vh;
min-height: 80vh;
min-width: 66vh;
}
.container-central-form{
width: 100vw;
height: 100vh;
display: flex;
background: linear-gradient(to right, #fe813f 0%,  #fa5276 100%, #fe813f 50%, #EFECF3 100%);
flex-direction: row;
justify-content: center;
align-items: center;
}
#container-form{
width: 60vh;
height: 60vh;        
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;
background-color: #1f1f1f;
border-radius: 20px;

}
#input{
    background-color: #414141; 
    border-color:  #414141;
}
#select{
    background-color: #414141; 
}
#img{
    width: 280px; 
    height: 160px; 
    object-fit: cover; 
    margin: 0 auto;
}
#container-form-listagem{       
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1f1f1f;
    height: 30vh;
    min-height: 30vh;
    min-width: 66vh;
    width: 80vh;
    }
#container-despesas-principal{
    background-color: #1f1f1f;
    border-radius: 10px;
}